html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(230, 238, 255);
}

h1 {
  font-size: 20px;
}

h2 > div {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
}
/*
#personal {
  visibility: hidden;
  position: absolute;
}
*/
#personal {
  visibility: visible;
  position: static;
}

h4 {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

div2 {
  line-height: 10px;
}
.column {
  float: left;
}
.column2 {
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
